# binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# test
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# go workspace
go.work
go.work.sum

# env
*.env

# goreleaser output
dist/

# ide
.vscode/
.idea/

# os
.DS_Store
Thumbs.db

#all markdown files except README.md
*.md
!README.md